
  .intro {
    background: $colorOne;
    padding: 70px 0 50px 0;
    color: $white;

    h1 {
      font-weight: 400;
      font-size: 3.2rem;
      max-width: 1050px;
      margin: 0 auto;
      text-align: center;
    }

    h2 {
      font-size: 1.1rem;
      letter-spacing: 0.5px;
      font-weight: 300;
      max-width: 790px;
      margin: 20px auto;
      text-align: center;
      font-family: $bodyFont;
    }

    .credits {
      display: flex;
      justify-content: center;
      p {
        font-weight: 700;
        font-style: italic;
        margin: 10px;
        font-size: 0.8rem;
        letter-spacing: 2px;
      }
    }

  }

  h3 {
    margin: 40px 0 -10px 0;
    // letter-spacing: .75px;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: $bodyFont;
  }
  
  p {
    max-width: 550px;

    a {
      display: block;
    }
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin: 20px 0;
  }

  .two-images {
    display: flex;
    justify-content: space-between;
    width: 80%;
    img {
      width: 49%;
    }
  }

  .letter-head {
    max-width: 400px;
  }
