$black: #000;
$white: #fff;

$colorOne: #3553a5;
$colorTwo: #d5322a;
$colorThree: #2884bd;

// The Neutral
$colorFour: #efebdf; 



@import url("https://use.typekit.net/dmk1wil.css");

$mainFont: soleil, sans-serif;
$bodyFont: coranto-2, serif;